## build the docker image
## push the docker image to the docker hub
## SSH into the VM and start the new image

name: Deploy Backend

on:
  push:
    branches: [ prod ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: cyberkaps
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./docker/Dockerfile.backend
          push: true
          tags: cyberkaps/sync-backend:${{ github.sha }},cyberkaps/sync-backend:latest

      # - name: SSH and deploy to VM
      #   uses: appleboy/ssh-action@v0.1.6
      #   with:
      #     host: ${{ secrets.VM_HOST }}
      #     username: ${{ secrets.VM_USERNAME }}
      #     key: ${{ secrets.VM_SSH_KEY }}
      #     script: |
      #       docker pull your-dockerhub-username/your-backend-image:latest
      #       docker stop backend-container || true
      #       docker rm backend-container || true
      #       docker run -d --name backend-container -p 80:80 your-dockerhub-username/your-backend-image:latest